<h1>Stupid Coaching</h1>

<div class = 'question'>
  <p><%= @question  %></p>
  <i>-You</i>
</div>

<div class = 'answer'>
  <p><%= @answer  %></p>
  <i>-Your Coach</i>
</div>

<%= link_to "Ask another question", ask_url %>

