// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer {
  background-color: #FFFFE0;
  border-left: solid grey;
  border-width: thick;
  padding-left: 10px
}

.question {
  border-left: solid grey;
  border-width: thick;
  padding-left: 10px
}
